*{margin: 0; padding: 0;}

a.button {
    display: inline-block;
    margin: 100px 600px;
    background: url('../images/btn-dang-ky.png');
    text-transform: uppercase;
    text-decoration: none;
    color: #000;
    letter-spacing: -1px;
    word-spacing: 3px;
    padding: 8px 21px;
    font-size: 14px;

    
}
a.button:hover {
    animation: ring infinite 0.1s;
}
@keyframes ring {
    0% {transform: rotate(2deg) translateX(2px);}
    100% {transform: rotate(-2deg) translateX(-2px);}
}
