*{margin: 0; padding: 0;}

.photo-item{
    width: 390px;
    height: 290px;
    overflow: hidden;
    margin: 100px auto;
    background: url(../images/nancy_1500_1000.jpeg);
    background-size: cover;

    position: relative;
}

.photo-item::after{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    transition: 0.4s;

}
.photo-item:hover.photo-item::after{
    background: #0000004d;
}

.title a{
    display: block;
    text-transform: uppercase;
    text-decoration: none;
    color: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    
    z-index: 2;
    font-size: 26px;
    font-weight: 700;
    transition: 0.4s;
}
.photo-item:hover .title a{
    top: 10%;
    transition: 0.4s;
    font-size: 18px;
}

.article-block{
    
    position: absolute;
    bottom: 0px;
    left: 0;
    z-index: 2;
    padding: 0px 10px;
    transform: translateY(258px);
    transition: 0.6s;
}

.photo-item:hover .article-block{
    transform: translateY(0);
    transition: 0.6s;

}
.item-article{
    
    height: 100px;
    margin-bottom: 13px;
    display: flex;
    font-size: 15px;
    font-weight: 700;
    color: #ccc;

}
.item-article img {
    margin-right: 8px;
}