*{margin: 0; padding: 0;}
.item{
    background-color:  #fff;
    height: 163px;
    width: 220px;
    margin: 0 auto;
}
.lazy{
    max-width: 100%;
    height: auto;
}
.title{
    padding: 6px;
    color: #fff;
    font-size: 15px;
    font-weight: 600;
    margin-right: -5px;
    background: #ee1c25;
    margin-bottom: 0;

}
h6{
    height: 11px;
    color: #fff;
    font-weight: 600;
    margin-right: -5px;
    background: url(//aothuncoba.com/wp-content/themes/AOTHUNCOBA/css/../images/bg_bongdo_box.png) bottom right no-repeat;
}
.content{
    list-style: square outside;
    padding-right: 15px;
    margin-left: 30px;
    padding-top: 15px;
    padding-bottom: 15px;
    color: #777;
}