*{margin: 0; padding: 0;}

body{
    font-family: Arial, Helvetica, sans-serif;
}

.box{
    max-width: 250px;
    border: 1px solid #ccc;
    position: relative;
    min-height: 280px;
    padding: 10px;
    margin: 0 auto;
}

.box:hover .box-hidden{
    opacity: 1;
}

.img{
    text-align: center;
}

.box-content > p{
    color: #f12;
}

.box-content > h5{
    margin-top: 20px;
}

.box-content{
    border-bottom: 1px dotted #ccc;
}

.box-hidden{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 10px;
    opacity: 0;
    background: #fff;
    transition: 0.2s;
}

.box-info{
    width: 93%;
    position: absolute;
    bottom: 1%;
}

.box-info > a{
    display: inline-block;
    padding: 1px;
    border: 1px solid #ccc;
    border-radius: 25px;
    text-decoration: none;
    transition: 0.5s;
    color: #fff;
    position: absolute;
    top: -35px;
    left: 0;
}

.box-info > a:hover{
    border-radius: 0;
}

.box-info > a:hover > i{
    border-radius: 0;
}

.box-info > a > i{
    background: #5A80BD;
    display: inline-block;
    padding: 5px;
    margin: 2px 1px;
    border-radius: 50%;
    transition: 0.5s;
    
}

.box-info > a > span{
    padding-left: 10px;
    color: #000;
}

.box-info > ul{
    margin: 0;
    display: inline-block;
    position: absolute;
    right: 5%;
    top: -30px;
}

.box-info ul li{
    display: inline-block;
}