*{margin: 0; padding: 0;}

body{
    background: #ccc;
}

.box {
    position: relative;
    margin: 50px auto;
    width: 250px;
    background: #C84646;
    border-radius: 30px;
}

.phone {
    position: absolute;
    top: 0;
    transform: translate(-50%, -50%);
    display: inline-block;
    animation: nghieng 0.5s infinite;
}

@keyframes nghieng{
    0% {
        transform: rotate(0deg);
    }
    25%{
        transform: rotate(20deg)
    }
    50% {
        transform: rotate(45deg);
    }
    75% {
        transform: rotate(20deg);
    }
    100% {
        transform: rotate(0deg);
    }
}

span {
    float: left;
}

.big-around {
    position: absolute;
    border: 1px solid red;
    width: 50px;
    height: 50px;
    top: 0;
    transform: translate(-50%, -50%);
    border-radius: 50%;
    animation: zoom 1s infinite;
}

@keyframes zoom {
    0% {
        transform: scale(1.5);
    }
    50%{
        transform: scale(1.7);
    }
    100% {
        transform: scale(2.1);
        opacity: 0;
    }
}

.small-aroud {
    position: absolute;
    background: rgba(255, 0, 0, 0.7);
    width: 50px;
    height: 50px;
    top: 0;
    transform: translate(-50%, -50%);
    border-radius: 50%;
    animation: zoom2 3s infinite;
}

@keyframes zoom2{
    0% {
        transform: scale(1)
    }
    50% {
        transform: scale(1.5)
    }
    100% {
        transform: scale(1)
    }
}

h3{
    margin-left: 30%;
    line-height: 50px;
    color: #fff;
}