* {
    margin: 0; 
    padding: 0;
    box-sizing: border-box;
}

ul, ol{
    list-style: none;
}

body{
    background: url('../images/slide-01.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    font-family: Arial, Helvetica, sans-serif;
}

.content-wrap {
    background: rgba(0, 0, 0, 0.5);
    max-width: 1170px;
    padding: 30px;
    display: flex;
    align-items: center;
    margin: 0 auto;
    justify-content: space-between;
    position: relative;
}

.content-wrap .logo {
    max-width: 200px;
}

.content-wrap .logo img {
    width: 100%;
    height: auto;
}

ul.nav {
    margin-top: 30px;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 14px;
}
ul.nav li.nav_list {
    display: inline-block;
    padding:  0 10px;
    position: relative;
}

ul.nav li.nav_list > a {
    color: #fff;
    text-decoration: none;
    padding: 5px;
    transition: 0.5s;
}

ul.nav li.nav_list:hover .sub-menu{
    animation: hieuung 0.5s;
    opacity: 1;
}

@keyframes hieuung{
    0%{transform: scale(0.8);}
    25%{transform: scale(1.1);}
    50%{transform: scale(0.8);}
    75%{transform: scale(1.1);}
    100%{transform: scale(0.8);}
}

ul.nav li.nav_list > a:hover {
    background: #ED4848;
    border-bottom: 2px solid #ED4848;

}

.book-online{
    position: absolute;
    top: 0;
    right: 5%;
    color: #fff;
    text-decoration: none !important;
    transition: 0.5s;
    background: #ED4848;
    padding: 15px 20px 10px;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 12px;
}

.book-online:hover{
    padding-top: 20px;
    color: #fff;
}

.nav_list:last-child{
    margin-right: 30px;
}

.nav_active{
    border-bottom: 2px solid #fff;
}

.nav_active:hover{
    border-bottom: 2px solid #ED4848;
}


.sub-menu{
    opacity: 0;
    position: absolute;
    top: 120%;
    left: 0;
    background: #fff;
    width: 200%;
    padding: 10px 0;
    transition: .4s ease-in-out;
    transition-duration: 0.5s;
    visibility: visible;
}

.sub-menu:before{
    content: "";
    border-left: 10px solid transparent;
    border-top: 10px solid rgba(0, 0, 0, 01);
    border-right: 10px solid transparent;
    position: absolute;
    top: 0;
    left: 15%;
}



.sub-menu li a{
    display: block;
    padding: 10px;
    color: #000;
    text-decoration: none;
}

.sub-menu li a:hover{
    color: #ED4848;
}

.sub-menu li .sub-menu_active{
    color: #ED4848 !important;
}