*{margin: 0; padding: 0;}
.container{
    position: relative;
    padding: 0px 50px;
    margin-top: 50px;
    
    width: 400px;
    z-index: 1;
    background-color: #fff;
    /* border: 1px solid #e7e7e7; */
   

}
.boxicon{
    width: 70px;
    height: 70px;
    border: 0;
    position: absolute;
    left: 42%;
    top: -30px;
    display: flex;
    justify-content: center;
    align-items: center;
background-color:white;
    margin: 0 auto;
    margin-bottom: 35px; 
    z-index: 100;

   
}
.boxicon i
{
    background: #92c135;
    border-radius: 3px 3px 3px 3px;
    position: absolute;
    transition: all 0.3s;
 
}
.boxcontent-wrapper{
    border: 1px solid #e7e7e7;
    border-radius: 3px 3px 3px 3px;
    padding: 55px 15px 45px;
    background: #fff;
    position: relative;
    text-align: center;
}
.boxcontent-wrapper::before
{
    border: 1px solid #e7e7e7;
    content: "";
    border-radius: 3px 3px 3px 3px;
    height: 70px;
    position: absolute;
    top: -32px;
    width: 72px;
    z-index: -1;
    left: 39%;
}
.container:hover  .boxicon{
    transform: rotate(45deg);
         transition: all 0.3s;
    
}
.container:hover .boxcontent-wrapper::before{
    transform: rotate(45deg);
    transition: all 0.3s;
}
.body{
    font-family: 'Open Sans',sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.5;
}
.boxtitle h3 a
{
    font-size: 20px;
    text-transform: uppercase;
    color:#324545;
    font-weight: 400;
}
.boxcontent
{
    font-weight: 300;
}
.container:hover .boxtitle h3 a
{
    text-decoration: none;
    color: aquamarine;
}