
*{margin: 0; padding: 0;}
/* thiet ke container1 */
*:hover a{
    text-decoration: none;
}
.container{
    margin-top: 10px;
    height: 40px;
    border-bottom: 1px solid #f7f7f7;
    padding: 0;
}
.content-wrapper{
    width: 42.5%;
    
}
.icon{
    width: 15%;
    display: flex;
    justify-content: space-evenly;
}
.promotion-support{
    width: 42.5%;
}
.content-wrapper,.icon,.promotion-support{
    float: left;
}
.content-wrapper .charhotline{
    font-weight: bold;
    font-size: 14px;
    color: #4d4d4d;
}
.content-wrapper .charhotline span
{
    font-weight: bold;
    color: #d71b96;
}
.icon a{
    color:#e5e5e5 ;
    transition: all 0.4s;
     
}

.promotion-support ul {
    display: flex;
    list-style: none;
    justify-content: flex-end
}
.promotion-support ul li{
    padding-right: 15px;
    
}

.promotion-support ul li a{
    color: #b2b2b2;
    transition: all 0.5s;
}
/* thiet ke container 2 */
.container2
{
   
    margin: 0 88.5px; 
    /* thiet ke margin giong container1 -->eo hieu  */
  
    padding: 8px 0px;
}
.link2,.button-link
{
    width: 37.5%;
    
}
.image
{
    width: 25%;
}

.link2,.image,.button-link{
    float: left;
}
.link2 ul {
    list-style: none;
    display: flex;
    justify-content: start;
    padding-top: 45px ;
    padding-left: 25px;
}
.link2 ul a{
    margin-right: 20px;
    color:#333;
    transition: all 0.5s;
}

.button-link ul{
    list-style: none;
    display: flex;
  justify-content: space-evenly;
    padding-top: 45px ;
    padding-left: 10px;
}
/* .dangnhap{
    color:#4d4d4d;
    
}
.dangky{
    border-radius: 4px;
    padding:5px 12px;
   
    border: solid 2px transparent;
    
       
    
 
    background-image: linear-gradient(#ffffff, #ffffff), linear-gradient(81deg, #eb008b, #652d90);
     background-origin: border-box;
      background-clip: content-box, border-box;  
    
}
.dangky::after{
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
  
    visibility: hidden;
    background-image: linear-gradient(81deg, #eb008b, #652d90), linear-gradient(81deg, #eb008b, #652d90);
    -webkit-transition: 0.3s;
    transition: 0.3s;
}
.thosopdangky{
    border-radius: 4px;
    padding:5px 12px;
   color: #808080;
    border: solid 2px #808080;
   
} */
.dangnhap{
 
    border: 2px solid transparent ;
    background-image: none;
    width: 100px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.dangnhap a{
    color: #4d4d4d;
    transition: all 0.5s;
}
.dangky{
    width: 105px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 4px;
    border: solid 2px transparent;
    background-image: linear-gradient(#ffffff, #ffffff), linear-gradient(81deg, #eb008b, #652d90);
    background-origin: border-box;
    background-clip: content-box, border-box;
    background:  transparent;
    transition: all 0.5s;
    position: relative;
    

}
.dangky a{
    color:#d71b96;
    
}
.tho-sop-dangky{
    height: 40px;
    width: 160px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
    border: solid 2px  #808080;
    transition: all 0.5s;
}
.tho-sop-dangky a{
    color:#4d4d4d;
}





/* su kien hover */
.trang-phuc:hover a{
    color: #d71b96;
   
   
}
.chup-hinh:hover a{
    color: #d71b96;
}
.trang-diem:hover a{
    color: #d71b96;
}
.tin-khuyen-mai:hover a{
    color: #d71b96;
}
.khach-hang:hover a{
    color: #d71b96;
}
.facebook:hover{
   color: #b2b2b2;
}
.youtube:hover{
    color: #b2b2b2;
}
.camera:hover{
    color: #b2b2b2;
}
.dangnhap:hover{
    border-radius: 4px;
    border: solid 2px transparent;
    background-image: linear-gradient(#ffffff, #ffffff), linear-gradient(81deg, #eb008b, #652d90);
    background-origin: border-box;
    background-clip: content-box, border-box;
    -webkit-transition: 0.3s linear;
    transition: 0.3s linear;
    
}
.dangnhap:hover a{
    color: #d71b96;
}
.dangky:hover{
    background:linear-gradient(81deg, #eb008b, #652d90);
    
}
.dangky:hover a{
    color: white;
}
.tho-sop-dangky:hover{
    border-radius: 4px;
    border: solid 2px transparent;
    background-image: linear-gradient(#ffffff, #ffffff), linear-gradient(81deg, #eb008b, #652d90);
    background-origin: border-box;
    background-clip: content-box, border-box;
    -webkit-transition: 0.3s linear;
    transition: 0.3s linear;
}
.tho-sop-dangky:hover a{
    color: #d71b96;

}