*{
    /* background-color: #666; */
    /* background-image: url(../images/black_background_metal.jpg); */
    margin: 0; padding: 0;
    
}
.container {
    width: 100%;
    height: 1530px;
    background: url(../images/black_background_metal.jpg);
    
}
.product {
    margin: 100px auto;
    padding: 98px 50px;
}
.title {
    text-align: center;
    color: #c82a36;
    text-transform: uppercase;
    position: relative;
    
}
.title h2 {
    font-size: 30px;
    letter-spacing: 2px;
    font-weight: 700;
}
.title::after{
    content: "\f017";
    font-family: FontAwesome;
    color: #c82a36;
    font-size: 24px;
    position: absolute;
    bottom: -50px;
    left: 50%;
    transform: translateX(-50%);
}
.title::before{
    position: absolute;
    bottom: -34px;
    content: '';
    left: 50%;
    transform: translateX(-50%);
    width: 100px;
    height: 5px;
    background: linear-gradient(to right,#2d3855 0%,#2d3855 30%,rgba(255,255,255,0) 30%,rgba(255,255,255,0) 67%,#2d3855 67%, #2d3855 100%);
}

.items{
    display: flex;
    margin-top: 80px;
    justify-content: space-around;
    
}
.item{
    width: 288px;
    height: 373px;
    position: relative;
    
}
.watch{
    width: 100%;
    transition: 0.5s;
}
.info{
    padding: 7px 40px;
    color: #fff;
    text-align: center;
}
.price{
    font-weight: 700;
    font-size: 16px;
    margin: 8px 0;
}
.old{

    color: gray;

    text-decoration: line-through;
}
a.button{
    background: gray;
    padding: 5px;
    color: #fff;
    font-weight: 800;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 13px;
}
.sale{
    background: #c82a36;
    padding: 10px 2px;
    color: #fff;
    display: inline;
    position: absolute;
    top: 5%;
    left: 0;
    
}
.item:hover .watch{
    transform: scale(1.1);
    transition: 0.5s;
}