
*{margin: 0; padding: 0;}
.container{
    display: inline-block;
    position: relative;
    height: 360px;
    width: 500px;
    padding:0px;
    margin-left: 35%;


}

.image{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;  
}
.module{
    background-color: #e5e5e5;
    overflow: hidden;
    margin: 0;
    position: relative;
    width: 100%;
    height: 100%;  
}
.title1{
  
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 1;
    background-color: #000;
    opacity: .7;
    top: 0;
    text-decoration: none;

}
.title1 span{
    background-image: url("https://huehomestay.net/wp-content/uploads/2018/05/alins-homestay-hue-homestay-gia-re-nhung-tien-nghi-danh-cho-ban1-485x360.jpg");
    background-position: center ;
    background-size: cover;
    position: absolute;
    transform: scale(1.3);
    transition: all 0.7s;
    width: 100%;
    height: 100%;
    
}
.title1::before{
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 1;
    background-color: #000;
    opacity: .7;
    top: 0;
}
.info-container{
    position: absolute;
    width: 100%;
    height: 100%;
    pointer-events: none;
    z-index: 1;
    padding: 20px;
    margin: 0px 0px;
    font-size: 0;
    text-align: center;
}
.align{
    pointer-events: none;
    width: 100%;
    height: 100%;
    white-space: normal;
    display: inline-block;
    position: relative;
}
.big-grid{
    margin: 0 auto;
    position: absolute;
    text-align: center;
    z-index: 1;
    padding: 0 8%;
    width: 100%;
    height: 100%;
    
    
}


.stayhue{
    
    font-size: 10px;
    padding: 2px 6px;
    line-height: 13px;
    margin-top: 60px;
    margin-bottom: 20px;
    font-family: 'Roboto',sans-serif;
    font-size: 15px;
    font-weight: 500;
    text-transform: uppercase;
    display: inline-block;
   
    
    line-height: 13px;
   
    background-color: #222;
    color: #fff;

}
.comment{
    text-align: center;

}
.comment a{
    color: #fff;
    background-color: transparent;
    text-transform: uppercase;
    font-size: 25px;
    letter-spacing: 1px;
}
.container:hover .title1 span{
transform: scale(1);
transition-timing-function: ease!important;

}
